body,h1
{
  font-family: "Raleway", Arial, sans-serif;
}

body
{
  margin: auto;
  width: 50%;
  line-height: 1.3em;
}
h1
{
  letter-spacing: 6px;
  text-align: center;
}

p{
  font-size: 0.9em;
}
.w3-row-padding img {margin-bottom: 12px}
